<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Fala comigo 2
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

    <ion-card>
        <ion-card-header>
            <ion-card-title>Digite para reproduzir</ion-card-title>
            <ion-card-subtitle>Texto para voz</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <form [formGroup]="formGroup">
                <div class="input-box">
                    <ion-textarea minlength="3" maxlength="100" [placeholder]="placeholderText"
                        formControlName="text"></ion-textarea>
                    <ion-icon name="document-text-outline" class="icon-input"></ion-icon>
                </div>
            </form>

            <div class="action-buttons">
                <ion-button [disabled]="formGroup.controls['text'].value?.length <= 0" class="text-contrast"
                    class="action-button" color="tertiary" (click)="resetText()">
                    <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
                </ion-button>

                <ion-button class="text-contrast" class="action-button major" (click)="play()"
                    [disabled]="formGroup.invalid && mode !== 'playing' ">
                    <ng-container *ngIf="mode === 'pause'">
                        <ion-icon slot="icon-only" name="play-outline"></ion-icon>
                    </ng-container>
                    <ng-container *ngIf="mode === 'playing'">
                        <ion-icon slot="icon-only" name="pause-outline"></ion-icon>
                    </ng-container>
                </ion-button>

                <ion-button [disabled]="formGroup.controls['text'].value?.length <= 3" class="text-contrast"
                    class="action-button" color="danger" (click)="addToFavoriteList()">
                    <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
                </ion-button>
            </div>
        </ion-card-content>
    </ion-card>

    <div class="chips-container" *ngIf="chips && chips.length > 0">
        <h4>Últimos digitados</h4>
        <div class="chips-list">
            <div class="chips">
                <ng-container *ngFor="let chip of chips">
                    <ion-chip class="wrap-name" *ngIf="chip" (click)="play(chip)">
                        {{wrapName(chip)}}
                    </ion-chip>
                </ng-container>
            </div>
        </div>
    </div>

    <div class="favorite-list-container">
        <h4>Favoritos</h4>

        <ng-container *ngIf="favorites && favorites.length > 0">
            <ion-list *ngFor="let favorite of favorites">
                <ion-item *ngIf="favorite" (click)="play(favorite)">
                    <ion-icon aria-hidden="true" name="heart-dislike-outline" slot="start"
                        (click)="removeFavorite(favorite)"></ion-icon>
                    <ion-label>{{favorite}}</ion-label>
                </ion-item>
            </ion-list>
        </ng-container>

        <ng-container *ngIf="!favorites || favorites.length <= 0">
            <div class="w-full text-center">
                <ion-label class="opacity-medium">Você ainda não tem favoritos</ion-label>
            </div>
        </ng-container>

    </div>
</ion-content>

<ion-footer translucent="false">
    <div class="w-full text-center ion-padding">
        <ion-label class="opacity-medium">Desenvolvido por: Gabriel Maia</ion-label>
    </div>
</ion-footer>